@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
    width: 100%;
    height: 100vh;
    color: #231f20;
    line-height: 1.4em;
    background: #f3f3f3;
    display: flex;
    align-items: center;
}
.whole-wrapper {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
    width: 500px;
    margin: auto;
}
.main-wrapper {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
#header {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dadada;
    background-color: #f3f3f3;
}
#header .toiled-logo {
    width: 100%;
}
.audio-player {
    height: 110px;
    margin-bottom: 15px;
}
.audio-player:last-child {
    margin-bottom: 0;
}
.audio-player button {
    outline: none;
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    float: left;
    margin-right: 15px;
}
#nav a {
    padding: 10px 20px;
    border: 1px solid #dadada;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}
#nav a.active {
    background-color: #231f20;
    border: 1px solid #231f20;
    color: #fff;
}
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #dadada;
    background-color: #f3f3f3;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
strong {
    font-weight: 700;
}
main section {
    float: left;
    width: calc(50% - 15px);
    height: 235px;
    margin-bottom: 30px;
}
.artwork img {
    width: 100%;
}
main section:nth-of-type(2n) {
    float: right;
}
#footer * {
    font-size: 14px;
}
.playing {
    background: url("../img/play_pause.svg") no-repeat center right;
}
.paused {
    background: url("../img/play_pause.svg") no-repeat center left;
}
.trackPreloader {
    background-color: #fff;
    border: 1px dashed #0071bc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    z-index: 2;
    font-size: 9px;
    text-align: center;
    line-height: 46px;
    color: #0071bc;
    display: none;
    animation: colorShift 1s infinite ease-in-out alternate;
}

@keyframes colorShift {
    from {color: #0071bc;border-color: #0071bc;}
    to {color: crimson;border-color: crimson;}
}
.loading:after {
    content:'loading';
    color: #0071bc;
    font-size: 9px;
    position: relative;
    top: -2px;
}
.shops {
    clear: both;
    padding-top: 5px;
    border-top: 1px solid #dadada;
}
.shops .logo-wrapper {
    width: auto;
    display: block;
    cursor: pointer;
    margin-right: 10px;
    float: left;
}
.shops .logo-wrapper:last-of-type {
    margin-right: 0;
}
.shops .logo-wrapper img {
    height: 10px;
}
.shops .logo-wrapper img.applemusic {
    margin-bottom: 1px;
}
.audio-player .description {
    font-size: 14px;
    float: left;
    width: calc(100% - 65px);
    margin-bottom: 5px;
}
.audio-player .description .track-title {
    font-size: 16px;
}
#footer .soundcloud {
    width: 40px;
    vertical-align: middle;
    margin-top: 2px;
}
a {
    color: #0071bc;
}
p {
    margin-bottom: 10px;
    text-indent: 10px;
}
p:last-child {
    margin-bottom: 0;
}
/*-------------------------------------------------preloader----------------------------------------------------------*/
div#load_screen{
    background: #fff;
    opacity: 1;
    position: fixed;
    overflow: hidden;
    z-index:10;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: .7s;
}
div#load_screen .preloader-wheel {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    border: 1px solid #231f20;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
    -o-animation: cssload-spin 575ms infinite linear;
    -ms-animation: cssload-spin 575ms infinite linear;
    -webkit-animation: cssload-spin 575ms infinite linear;
    -moz-animation: cssload-spin 575ms infinite linear;
}
@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/*----------------------------media queries-------------------------------*/
@media (max-width: 500px) {
    body {
        display: block;
    }
    .container {
        width: 100%;
    }
    #header, #footer, #nav, main {
        padding: 20px 10px;
        margin: 0;
    }
    .main-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        min-height: calc(100vh - 230px);
    }
    main {
        padding-top: 10px;
    }
    main, main section, .audio-player, .sounds {
        height: auto!important;
        margin-bottom: 20px;
    }
    #header .toiled-logo {
        width: 250px;
        display: block;
    }
    main section {
        width: 100%;
        margin-bottom: 20px;
    }
    .sounds:last-child {
        margin-bottom: 0;
    }
    .artwork img {
        display: block;
    }
    #footer a, .about a {
        font-size: 16px;
    }
    #footer img.soundcloud {
        margin-top: 13px;
    }
    #footer .pull-right {
        float: none;
    }
}

@media (max-width: 1023px) and (orientation: landscape) {
    body {
        display: block;
    }
}